<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html :: head}"/>
<body>
<div th:insert="~{fragments/navbar :: navbar}"></div>
<!--검색 창-->

<div class="container-lg py-2">
    <form class="row align-items-center me-auto" th:action="@{/crawler}" method="get">
        <div class="col">
            <select class="form-select form-select" name="repositoryName" aria-label="repository-name-select">
                <option value="">Repository Name</option>
                <option th:each="repositoryName : ${repositoryNames}" th:if="${selectedName == repositoryName}" selected th:value="${repositoryName}" th:text="${repositoryName}"></option>
                <option th:each="repositoryName : ${repositoryNames}" th:unless="${selectedName == repositoryName}" th:value="${repositoryName}" th:text="${repositoryName}"></option>
            </select>
        </div>
        <div class="col">
            <button class="btn btn-primary" type="submit">조회</button>
        </div>
    </form>
    <hr/>
    <div class="mx-3">
        <table class="table table-striped table-hover" id="commit-list-table">
            <thead>
            <tr>
                <th class="col-1" scope="col">이름</th>
                <th class="col" scope="col">커밋 메시지</th>
                <th class="col-2" scope="col">커밋 날짜</th>
            </tr>
            </thead>
            <tbody id="commit-list-body">
            <th:block th:each="commit : ${commits}" th:if="${commit.getTitle() != null}">
                <tr role="button" th:data-url="${commit.getUrl()}" onclick="window.open(this.getAttribute('data-url'))">
                    <td th:text="${commit.getUsername()}"></td>
                    <td><span th:if="${commit.isNew()}" class="badge text-bg-secondary me-1">NEW</span>[[${commit.getTitle()}]]</td>
                    <td th:text="${commit.getCommittedDatetime()}"></td>
                </tr>
            </th:block>
            <th:block th:each="commit : ${commits}" th:unless="${commit.getTitle() != null}">
                <tr class="table-warning">
                    <td th:text="${commit.getUsername()}"></td>
                    <td>repository 주소를 확인해주세요.</td>
                    <td></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<!--------->
<!--커밋 내역-->
<!----------->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>