<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/header.html :: head}">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <meta charset="UTF-8">
    <title>code Detail</title>
</head>
<body>
<section>
    <div th:insert="~{fragments/navbar :: navbar}"></div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1" th:text="${boardInfo.title}"/>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">
                            <span th:text="${#temporals.format(boardInfo.createdDate, 'yyyy-MM-dd HH:mm')}"></span><span sec:authorize="hasRole('ROLE_ADMIN')" th:text="${' '+boardInfo.userName}">by user</span>
                        </div>
                        <!-- Post categories-->
                        <a class="badge bg-secondary text-decoration-none link-light" th:href="@{'/tasks/' + ${boardInfo.taskEntity.id}}" th:text="${boardInfo.taskEntity.title}" href="#!"></a>
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4">
                        <img th:each="image:${boardInfo.images}" class="img-fluid rounded border" th:src="@{'/images/board/' + ${image}}" alt="..."/>
                    </figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <h2>내용</h2>
                        <pre class="prettyprint border mh-30" th:text="${boardInfo.content}"></pre>
                    </section>

                    <div>
                        <h2>코드</h2>
                        <input type="hidden" id="language" th:value="${boardInfo.language}"></input>
                        <div id="codeContent" style="width:100%; height: 30vh; display: inline-block;" th:text="${boardInfo.codeContent}" th:value="${boardInfo.codeContent}"></div>
                    </div>
                </article>

                <!-- 수정 삭제 좋아요-->
                <article>
                    <div class="card-footer d-flex">
                        <!-- 수정 삭제 -->
                        <div th:if="${auth.getRealName() == boardInfo.getUserName() || #authorization.expression('hasRole(''ROLE_ADMIN'')') || #authorization.expression('hasRole(''ROLE_MENTOR'')')}" class="ms-auto">
                            <a class="btn btn-primary" th:href="@{'/boards/' + ${boardInfo.id} + '/edit'}">수정</a>
                            <button class="btn btn-primary" th:data-board-id="${boardInfo.id}" onclick="deleteBoard(this)">삭제</button>
                        </div>
                        <!-- 좋아요 -->
                        <th:block th:if="${isLiked==true}">
                            <form class="ms-auto" th:action="@{'/boards/' + ${boardInfo.id} + '/unlike'}" method="post">
                                <button type="submit" class="btn btn-danger">[[${boardInfo.likes}]] <i class="fa-regular fa-heart"></i></button>
                            </form>
                        </th:block>
                        <!-- 좋아요 -->
                        <th:block th:unless="${isLiked==true}">
                            <form class="ms-auto" th:action="@{'/boards/' + ${boardInfo.id} + '/like'}" method="post">
                                <button type="submit" class="btn btn-outline-danger" th:disabled="${#authorization.expression('hasRole(''ROLE_ANONYMOUS'')')}">[[${boardInfo.likes}]] <i class="fa-regular fa-heart"></i></button>
                            </form>
                        </th:block>
                    </div>
                </article>

                <!-- Comments section-->
                <section class="mb-5">
                    <div class="row d-flex">
                        <div>
                            <div class="card text-dark">
                                <div class="card-body p-4">
                                    <h4 class="mb-0">Recent comments</h4>
                                    <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>
                                    <hr class="my-0" />
                                </div>
                                <div class="card-body" th:each="comment, i : ${commentList}">
                                    <div class="d-flex flex-start">
                                        <img class="rounded-circle shadow-1-strong me-3" th:src="${comment.userProfile}" alt="avatar" width="60" height="60" />
                                        <div>
                                            <h6 class="fw-bold mb-1" th:text="'작성자: '+ ${comment.userName}">Writer</h6>
                                            <div class="d-flex align-items-center mb-3">
                                                <p class="mb-0" th:text="'작성일: '+ ${#temporals.format(comment.createdAt, 'yy/MM/dd/HH:mm')}">
                                                    createdAt
                                                </p>
                                                <!-- 댓글 좋아요 -->
                                                <th:block th:if="${comment.likeStatus==true}">
                                                    <form th:action="@{'/comments/' + ${comment.id} + '/unlike'}" method="post">
                                                        <button type="submit" class="btn btn-link link-danger" style="font-size:15px"><i class="fa-regular fa-heart btn-danger"></i>[[${comment.likes}]] </button>
                                                    </form>
                                                </th:block>
                                                <th:block th:unless="${comment.likeStatus==true}">
                                                    <form th:action="@{'/comments/' + ${comment.id} + '/like'}" method="post">
                                                        <button type="submit" class="btn btn-link link-danger" th:disabled="${#authorization.expression('hasRole(''ROLE_ANONYMOUS'')')}" style="font-size:15px"><i class="fa-regular fa-heart"></i>[[${comment.likes}]]</button>
                                                    </form>
                                                </th:block>
                                            </div>
                                            <pre class="mb-0 commentBox" th:text="${comment.comment}" name="comment" style="width:90%;word-break: keep-all; max-width: 44vw; white-space: pre-wrap"></pre>
                                            <a class="showMore" th:index="${i.index}" onclick="showClick(this.getAttribute('index'))" style="color:gray;cursor:pointer" hidden></a>
                                        </div>
                                    </div>
                                    <hr class="my-0" />
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- 댓글 쓰기 박스 -->
                    <div class="text-dark bg-light">
                        <div class="card-body">
                            <h5>Add a comment</h5>
                            <form class="form-group" th:object="${commentCreateRequest}"  th:method="post" th:action="|@{/boards/{boardId}/comment (boardId=${boardInfo.id})}|">
                                <div style="text-align: right">
                                    <div>
                                        <textarea rows="3" th:field="*{comment}" style="width: 100%"></textarea>
                                        <button class="btn btn-light" type="submit">댓글 쓰기</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div> <!-- 댓글박스 끝 -->
                </section>
            </div>
        </div>
    </div>

</section>



<script src="https://cdn.jsdelivr.net/npm/ace-builds@1.4.12/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script th:inline="javascript">
    let items = []
    $(document).ready(function(){
        let editor = ace.edit("codeContent");
        let lang = document.getElementById("language").value
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/"+lang);
        editor.setShowPrintMargin(false);
        editor.setReadOnly(true);
        editor.setFontSize(20);
        editor.resize();
        var mode = editor.session.getMode().$id;
        console.log(lang)
        console.log(mode);
        let maxLength = 100;
        let itemLength = document.getElementsByClassName('commentBox').length

        for (let i = 0; i < itemLength; i++){
            items.push(document.getElementsByClassName('commentBox').item(i).textContent)

            let content = document.getElementsByClassName('commentBox').item(i).textContent
            let content_txt_short = content.substring(0, maxLength) + "...";
            let more_btn = document.getElementsByClassName("showMore").item(i)
            if (content.length > maxLength) {
                document.getElementsByClassName('commentBox').item(i).textContent = content_txt_short
                more_btn.textContent = "더보기"
                more_btn.removeAttribute("hidden")
            }
        }
    });
    function showClick(id){
        console.log(id)
        let content = document.getElementsByClassName('commentBox').item(id).textContent;
        let maxLength = 80;
        let content_txt_short = content.substring(0, maxLength) + "...";
        let content_txt_origin = document.getElementsByClassName('commentBox').item(id).textContent
        let more_btn = document.getElementsByClassName("showMore").item(id)
        if (document.getElementsByClassName('commentBox').item(id).textContent.length > maxLength+4) {
            // 펼쳐진 상태
            document.getElementsByClassName('commentBox').item(id).textContent = content_txt_short
            more_btn.textContent = "더보기"
        }else{
            document.getElementsByClassName('commentBox').item(id).textContent = items[id]
            more_btn.textContent = "접기"
        }
    }

    function deleteBoard(self) {
        if (window.confirm('정말 삭제하시겠습니까?')) {
            const id = self.getAttribute('data-board-id');

            fetch(`/api/v1/boards/${id}`, {method: "DELETE"})
                .then(res => res.json().catch(reason => alert('삭제 실패 : 예기치 못한 에러')))
                .then(data => {
                    if (data.resultCode && data.resultCode === 'ERROR') {
                        alert(data.result.message);
                    }
                    alert('삭제 완료');
                    location.replace('/boards')
                })
        }
    }

</script>
</body>
</html>